-f https://download.pytorch.org/whl/torch_stable.html

mxnet==1.8.0.post0 # UPDATED, TODO update
tensorflow==2.9.1
torch==1.8.0+cpu # TODO update
torchvision==0.9.0+cpu # TODO update
torchaudio==0.8.0 # TODO update
